<% if user_signed_in? %>
  <% if current_user.likes.find_by(room_id: room.id) %>
    <%= link_to "いいね!を取り消す", unlike_path(room.id), method: :delete, remote: true, class: "btn btn-unlike" %>
  <% else %>
    <%= link_to like_path(room.id), method: :post, remote: true, class: "btn btn-like" do %>
      <i class="fa fa-heart"> いいね!をする </i>
    <% end %>
  <% end %>
<% end %>
