<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user, html: { multipart: true }) do |f| %>
        <%= render 'shared/errors', object: f.object %>
        <div class="form-group">
          <%= image_tag @user.image.url if @user.image? %>
          <%= f.hidden_field :image_cache %>
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control-file" %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="action">
          <%= f.submit "Save", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <%= link_to "Delete", user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to "User edit", edit_user_registration_path %>
  </div>
</div>
