<% @page_title = current_user.name %>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <aside class="user-info">
        <section>
          <% if @user.image? %>
            <%= image_tag @user.image.url %>
          <% else %>
            <%= image_tag "default-image.png" %>
          <% end %>
        </section>
        <section>
          <%= @user.name %>
        </section>
        <section>
          <% if current_user?(@user) %>
          <%= link_to "Edit", edit_user_path(@user) %>
          <% end %>
        </section>
      </aside>
    </div>

    <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#rooms" data-toggle="tab">Rooms (<%= @user.rooms.count %>)</a>
      </li>
      </li>
      <li>
        <a href="#reviews" data-toggle="tab">Reviews (<%= @user.reviews.count %>)</a>
      </li>
      <li>
        <a href="#likes" data-toggle="tab">Likes (<%= @user.likes.count %>)</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="rooms" class="tab-pane active">
        <ul class="room-index">
          <%= render @rooms %>
        </ul>
      </div>
      <div id="reviews" class="tab-pane">
        <ul class="room-index">
          <%= render @review_rooms %>
        </ul>
      </div>
      <div id="likes" class="tab-pane">
        <ul class="room-index">
          <%= render @like_rooms %>
        </ul>
      </div>
    </div>

    </div>

  </div>

</div>
