<% @page_title = "Reset password" %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
