<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h3><%= object.errors.count %>件のエラーがあります。</h3>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
