<!-- ここからヘッダー -->
<header id="fixed-navigation" canvas="">
  <!-- ヘッダーインナー -->
  <div class="container-fluid header-inner">
    <!-- ロゴ -->
    <div class="header-left">
      <%= link_to "logo", root_path %>
    </div>
    <!-- スマホ用のメニュー -->
    <div class="visible-xs">
      <div class="header-right">
        <nav class="menu">
        <ul>
          <% if user_signed_in? %>
          <li class="menu-icon">
            <%= link_to rooms_path do %>
              <span class="fa fa-search"></span>
            <% end %>
          </li>
          <li class="menu-icon">
            <%= link_to new_room_path do%>
              <span class="fa fa-pencil-square-o"></span>
            <% end %>
          </li>
          <div class="menu-icon">
            <div class="fa fa-bars sb-open-right"></div>
          </div>
          <% else %>
          <li><%= link_to "ログイン", "#" %></li>
          <% end %>
        </ul>
        </nav>
      </div><!-- header-right -->
    </div><!-- visible-xs -->
    <!-- パソコン・タブレット用のメニュー -->
    <div class="hidden-xs">
      <div class="header-right">
        <nav class="menu">
        <ul>
          <% if user_signed_in? %>
          <li><%= link_to "Search", rooms_path %></li>
          <li><%= link_to "Post", new_room_path %></li>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
