<% @page_title = "トップ" %>

<!-- ログインしている場合 -->
<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <aside class="sidebar-search">
        検索
      </aside>
    </div>
    <div class="col-sm-8">
      <ul class="room-index">
        <%= page_entries_info @rooms %>
        <%= render @rooms %>
      </ul>
      <%= paginate @rooms %>
    </div>
  </div>
</div>
<% else %>
<div class="container">
  <%= link_to "registration", new_user_registration_path, class: "btn btn-primary" %>
  or
  <%= link_to 'Twitterで登録', user_twitter_omniauth_authorize_path, class: "btn btn-primary" %>
  <div class="row">
    <div class="col-sm-4">
      description1
    </div>
    <div class="col-sm-4">
      description2
    </div>
    <div class="col-sm-4">
      description2
    </div>
  </div>
</div>
<% end %>
