<% @page_title = "お問い合わせ" %>

<div class="container">
  <div class="form-wrapper">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <h2>お問い合わせ</h2>
      <p>返信にはお時間がかかる場合がございます。ご了承ください。</p>

      <%= form_for @contact, url: contact_path do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="field">
        <%= f.label :message %>
        <%= f.text_area :message, class: "form-control" %>
        </div>

        <div class="field">
        <%= f.submit "送信", class: "btn btn-primary" %>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>
