<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@room, html: {multipart: true}) do |f| %>
        <%= render "shared/errors", object: f.object %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :access %>
        <%= f.text_field :access, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :rent %>
        <%= f.text_field :rent, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :floor_plan %>
        <%= f.text_field :floor_plan, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :direction %>
        <%= f.text_field :direction, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :structure %>
        <%= f.text_field :structure, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :storey %>
        <%= f.text_field :storey, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :built %>
        <%= f.text_field :built, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :exclusive_area %>
        <%= f.text_field :exclusive_area, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= image_tag @room.picture.url(:thumb) if @room.picture? %>
        <%= f.hidden_field :picture_cache %>
        <%= f.label :picture %>
        <%= f.file_field :picture, class: "form-control-file" %>
      </div>
      <div class="actions">
        <%= f.submit "投稿する", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
