<li>
  <%= link_to room do %>
  <div class="list-inner">
    <div class="list-image">
      <% if room.picture? %>
      <%= image_tag room.picture.url(:thumb) %>
      <% else %>
      <%= image_tag "default-room-image" %>
      <% end %>
    </div>
    <div class="list-block">
      <p><%= room.name %></p>
      <p><%= room.address %></p>
      <p><%= room.access %></p>
    </div>
  </div>
  <% end %>
</li>
