<% @page_title = "Index" %>

<div class="container">
  <div class="row">
    <%= page_entries_info @rooms %>
    <ul class="room-index">
      <%= render @rooms %>
    </ul>
    <%= paginate @rooms %>
  </div>
</div>
