<% @page_title = @room.name %>

<div class="container">
  <div class="row">
    <!-- ここからコンテンツ左側 -->
    <div class="col-sm-8">
      <article class="article">
        <!-- ここから部屋の名前 -->
        <div class="heading room-name-heading">
          <h1><%= @room.name %></h1>
        </div><!-- ここまで部屋の名前 -->

        <!-- ここから部屋のイメージ -->
        <div class="room-picture">
          <% if @room.picture? %>
          <%= image_tag @room.picture.url %>
          <% else %>
          <%= image_tag "default-room-image.jpg" %>
          <% end %>
        </div><!-- ここまで部屋の画像 -->

        <!-- ここから部屋の基本情報 -->
        <div class="heading">
          <h1>Basic information</h1><%= link_to 'Edit', edit_room_path(@room) %>
        </div>
        <!-- ここからテーブル -->
        <div class="table-responsive">
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td><%= @room.name %></td>
              </tr>
              <tr>
                <th>Access</th>
                <td><%= @room.access %></td>
              </tr>
              <tr>
                <th>Address</th>
                <td><%= @room.address %></td>
              </tr>
              <tr>
                <th>Rent</th>
                <td><%= @room.rent %></td>
              </tr>
              <tr>
                <th>Floor plan</th>
                <td><%= @room.floor_plan %></td>
              </tr>
            </tbody>
          </table>
        </div><!-- ここまでテーブル -->

        <!-- ここから部屋の詳細情報 -->
        <div class="heading">
          <h1>More information</h1>
        </div>
        <!-- ここからテーブル -->
        <div class="table-responsive">
          <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <th>Direction</th>
                <td><%= @room.direction %></td>
              </tr>
              <tr>
                <th>Structure</th>
                <td><%= @room.structure %></td>
              </tr>
              <tr>
                <th>Storey</th>
                <td><%= @room.storey %></td>
              </tr>
              <tr>
                <th>Built</th>
                <td><%= @room.built %></td>
              </tr>
              <tr>
                <th>Exclusive area</th>
                <td><%= @room.exclusive_area %></td>
              </tr>
            </tbody>
          </table>
        </div><!-- ここまでテーブル -->

        <!-- ここからその他の情報と編集・削除ボタン -->
        <div class="heading">
          <h1>Notes</h1>
        </div>
        <div class="room-note">
          <%= @room.notes %>
        </div>
        <div class="edit">
          <%= link_to 'Edit', edit_room_path(@room), class: "btn btn-warning" %>
          <%= link_to 'Destroy', room_path(@room), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div><!-- ここまでその他 -->

        <!-- ここから部屋の地図 -->
        <div class="heading">
          <h1>Map</h1>
        </div>
        <div class="room-map">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=750x300&sensor=false&zoom=16&markers=#{@room.latitude}%2C#{@room.longitude}" %>
        </div>

        <!-- ここからレビュー -->
        <div class="heading">
          <h1>Reviews</h1>
        </div>
        <%= @room.reviews.count %>

        <!-- コメントしてるかどうか -->
        <% if user_signed_in? %>
        <% if current_user.reviews.find_by(room_id: @room.id) %>
        <P>※あなたはこの投稿にコメント済みです。</P>
        <% end %>
        <% end %><!-- ここまでコメントしてるかどうか -->

        <%= link_to "Add review", new_room_review_path(@room), class: "btn btn-primary" %>
        <ul>
          <% if @room.reviews.any? %>
          <%= render @room.reviews %>
          <% else %>
          <strong>no reviews yet</strong>
          <% end %>
        </ul>

      </article><!-- articleここまで -->
    </div><!-- ここまでコンテンツ左側 -->


    <!-- ここからコンテンツ右側 -->
    <div class="col-sm-4">
      <aside class="sidebar">
        <section>
          <!-- ここからいいね！ -->
          <div class="like-wrapper">
            <div id="like-link" class="btn btn-danger">
              <%= render "likes/like_links", room: @room %>
            </div>
            <div id="like-count">
              <%= @room.likes.count %>
            </div>
          </div><!-- ここまでいいね！ -->
        </section>

        <section>
          <!-- ここから近い部屋一覧 -->
          <ul>
            <% for room in @room.nearbys(10) %>
            <li><%= link_to room.name, room %></li>
            <% end %>
          </ul><!-- ここまで部屋一覧 -->
        </section>
      </aside>
    </div><!-- ここまでコンテンツ右側 -->

  </div><!-- rowここまで -->
</div> <!-- containerここまで -->
