/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "slidebars.min.css";
 @import "contacts.scss";
 @import "home.scss";
 @import "likes.scss";
 @import "reviews.scss";
 @import "rooms.scss";
 @import "users.scss";

/* 全体共通 */
body{
  margin: 0;
  padding-top: 50px;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

*{
  box-sizing: border-box;
}

h1{
  font-size: 30px;
}

/* ヘッダー */
header{
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #b3aeb5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-inner{
  display: flex;
}

.header-left{
  margin-right: auto;
}

/* ナビバー */
.menu ul{
  display: flex;
  li a{
    padding: 0 25px;
    display: block;
    font-size: 15px;
    color: #191919;
  }
  a:hover{
    background-color: #eeeeee;
  }
}

.menu-icon{
  color: #191919;
  font-size: 20px;
  padding: 0 10px;
}

/* フラッシュ */
.alert{
  text-align: center;
}
.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
}
.alert-alert {
  background-color: #f2dede;
  color: #a94442;
}

/* フッター */
footer{
  border-top: 1px solid #eaeaea;
  width: 100%;
}


/* スマホ用のレイアウト */
@media (max-width: 768px) {

  .menu ul{
    display: flex;
    li a{
      padding: 0;
      display: block;
      font-size: 20px;
      color: #191919;
    }
  }

  .slide-menu{
    overflow: hidden;
    li a{
      display: block;
      padding: 10px;
      color: white;
      font-size: 15px;
    }
  }


}
