// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* レビューユーザーイメージ */
.review-user-image{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
