// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 部屋一覧 */
.room-index {
  list-style: none;
  margin: 0;
  padding: 40px 0;
  li {
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid $gray-lighter;
    width: 100%;
    font-size: 15px;
  }
}

.list-inner{
  display: flex;
  width: 100%;
}

.list-image{
  padding-right: 10px;
  width: 100px;
  height: 100px;
  img{
    max-width: 100%;
    height: auto;
  }
}

.list-block{
  flex: 1;
  word-wrap: break-word;
  min-width: 0;
}


/* 部屋の写真の外枠 */
.room-name-heading{
  word-wrap: break-word;
}

.room-picture{
  text-align: center;
  img{
    height: auto;
    max-width: 100%;
  }
}

.table{
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
  th{
    width: 40%;
  }
  td{
    width: 60%;
  }
}

.room-note{
  word-wrap: break-word;
}

.room-map{
  text-align: center;
  img{
    height: auto;
    max-width: 100%;
  }
}
