// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info img{
   height: 100px;
   width: 100px;
   border-radius: 100px;
   border: 1px solid #DDDDDD;
  height: auto;
  max-width: 100%;
}
