<%= form_for([@room, @review]) do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="action">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>

<% end %>
