<li>
  <div class="review-user">
    <%= review.user.image %>
    <%= review.user.name %>
  </div>
  <div class="review-content">
    <%= review.content %>
  </div>

  <%= link_to "edit",  edit_review_path(review) %>
  <%= link_to "delete", review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
