<%= @page_title = "@room.nameの口コミ" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= @review.user.name %>
      <%= @review.content %>
      <%= link_to "add review", new_room_review_path(@room) %>
    </div>
  </div>
</div>
