<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
    <%# ここからヘッダー %>
    <%= render "shared/header" %>
    <%# ここからメインコンテンツ %>
    <div canvas="container">
      <%# フラッシュ %>
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        <%= value %>
      </div>
      <% end %>
      <%# 各コンテンツ %>
      <%= yield %>
      <%# ここからフッター %>
      <%= render "shared/footer" %>
    </div>
    <%# スライドメニュー %>
    <div off-canvas="sb-right right push">
      <ul class="slide-menu">
        <% if user_signed_in? %>
        <li><%= link_to current_user.name, current_user %></li>
        <li><%= link_to "setting", edit_user_path(current_user) %></li>
        <li><%= link_to current_user.name, current_user %></li>
        <li><%= link_to current_user.name, current_user %></li>
        <% else %>
        <li></li>
        <li></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
